@import "navbar.css";
@import "main.css";
@import "mediaQueries.css";


:root{
  --white:  hsl(0, 0%, 100%);
  --clr-navbar: hsl(0, 0%, 13%);
  --clr-blue: hsl(179, 62%, 43%); 
  --transparat-white: hsla(0, 0%, 100%, 0.6);

  --clr-nam-1: hsl(179, 96%, 52%);
  --clr-nam-2: hsl(42, 83%, 47%);
  --clr-nam-3: hsl(264, 91%, 53%);
  --clr-nam-4: hsl(339, 86%, 48%);
  --clr-nam-5: hsl(135, 87%, 47%);
  --clr-nam-6: hsl(72, 87%, 50%);
  --clr-nam-7: hsl(0, 92%, 48%);
  --clr-nam-8: hsl(0, 0%, 13%);

  --main-ff: 'Lexend Deca', sans-serif;
  --main-fs: 1rem;

  --bold-fw: 700;
  --main-fw: 400;
  
    --upwork: hsl(113, 100%, 33%);

}

/* i don't know why these exist, but 
i think they are kinda useful */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  font-family: var(--main-ff);
  font-weight: var(--main-fw);
}

/* when i hover over a text it turns red and 
its background turn yellow */
::selection {
  color: var(--clr-blue);
  background: var(--clr-navbar);
}





